body {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.edit-post-container{
    background-color: #6A6B83;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
    border-radius: 25px;
    background-color: #76949F;
    width: 90%;
    padding: 40px;
    text-align: center;

}

.images-cont-edit{
    display: flex;
    background-color: white;
    color: black;
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100%;
    max-width: 1300px;
    margin-bottom: 20px;
    margin-right: 50px;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bold;
    box-sizing: border-box;
    flex-direction: row;
}