body {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}


.posts-container {
    background-color: #6A6B83;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-container {
    color: white;
    border-radius: 25px;
    margin-top: 30px;
    background-color: #76949F;
    height: auto;
    margin-left: -100px;
    border: #273B4A 5px solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-title {
    color: white;
    border: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 60px;
    width: 100%;
    max-width: 1300px;
    background-color: #76949F;
    font-size: xx-large;
    padding: 20px;
    text-align: center;
}

.post-body {
    color: white;
    border: none;
    border-radius: 25px;
    height: auto;
    width: 100%;
    max-width: 1300px;
    background-color: #76949F;
    font-size: xx-large;
    margin-bottom: 50px;
    padding: 20px;
}

.images-cont{
    display: flex;
    background-color: white;
    color: black;
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100%;
    max-width: 1300px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bold;
    box-sizing: border-box;
    flex-direction: row;

}

.preview {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: auto;
}

.image-preview {
    flex: 1 1 auto;
    height: 200px;
    width: auto;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.upload-div,
.upload-div-right {
    font-size: large;
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 1300px;
    border-bottom: #273B4A 5px solid;
    padding: 10px;
    box-sizing: border-box;
}
.input{
    width: 50%;
    height: 20px;
}
.post-button {
    align-items: center;
    height: 50px;
    width: 90px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #5F506B;
    color: white;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add-link-button {
    height: 25px;
    width: 120px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #5F506B;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    display: inline-block;
}

.add-link-button:hover {
    background-color: #6A6B83; 
}