.posts {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  /* justify-content: space-between; */
  gap: 10px;
  /* max-width: 1020px; */
  margin-left: -40px;
  /* margin-left: 300px; */
}

.userpfp{
  margin-right: -40px;
}
.post {
  background-color: #76949F;
  border-radius: 30px;
  color: white;
  width: 500px;
  font-family: monospace;
  font-size: x-large;
  height: auto;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.postimage img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.username {
  display: flex;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  margin-bottom: 10px;
}

.user {
  margin-left: 10px;
  margin-top: 0;
}

.pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
